.modal{
  opacity:0;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.4);
  z-index:99;
  will-change: opacity;
  //visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &.show{
    //opacity:1;
    //visibility: visible;
  }

  .modal-content{
    background:white;
    border-radius:10px;
    max-width:500px;
    margin:0 auto;
    padding:10px;
    position: relative;

    .close-cross{
      positioN:absolute;
      top:-30px;
      right:0;
      font-size:25px;
      color:white;
      cursor: pointer;
    }

    .banner{
      max-height:300px;
      width:100%;
      position: relative;
      overflow: hidden;
      img{
        max-width:100%;
        border-radius:4px;
      }

      .episodes-button{
        position:absolute;
        bottom:10px;
        left:10px;
        background:white;
        padding:5px 10px;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    .chip{
      background: rgba(0,0,0,.4);
      color:white;
      margin-right:5px;
      padding:5px 10px;
      border-radius:10px;
    }
  }

  .close-button{
    padding:5px 20px;
    font-size:15px;
    border-radius:4px;
    background: rgba(218,24,24,1);
    color:white;
    cursor:pointer;
  }
}